<div class="page">
<!-- <app-background-star></app-background-star> -->
<div class="container vh-100">
    <div class="row row-same-height">
        <div class="col-2 offset-md-5">
            <img src="../../../../assets/loading/loading.gif" width="200px">
        </div>
    </div>
    <div class="row row-same-height">
        <div class="col-2 offset-md-5">
            <img src="../../../../assets/loading/loading-text.gif" width="200px">
        </div>
    </div>
    <div class="row row-same-height">
        <!-- <div class="col-2 offset-md-5"> -->
            <!-- <h5>Operation Tips:</h5> -->
            <!-- <div id="tips">
                <img src="../../../assets/loading/left-click.png" width="25px"><span>Rotation angle</span><br>
                <img src="../../../assets/loading/mouse-middle.png" width="25px"><span>Zoom in and out</span><br>
                <img src="../../../assets/loading/right-click.png" width="25px"><span>Translation</span>
            </div> -->
            <!-- <app-mouse-guide *ngIf="showGuide"></app-mouse-guide>
        </div> -->
        <div class="col-4 offset-md-5">
            <app-game-guide></app-game-guide>
        </div>
    </div>
</div>
</div>