<!-- 在chrome中自动播放失败，因此转成gif -->
<!-- <video muted="true" id="bgvid" autoplay="true" loop="true" src="../../assets/密室逃生Escape.mp4" >
</video> -->

<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
<div class="container-fluid d-flex flex-column" id="bg">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center title" #title>ESCAPE</h1>
        </div>
    </div>
    <div class="row justify-content-center flex-fill">
        <div class="col-2">
            <a class="full-width" (click)="toLogin()">Login</a>
        </div>
        <div class="col-2">
            <a class="full-width" (click)="toRegister()">Register</a>
        </div>
    </div>
</div>
