<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
<canvas #canvas id="canvas">
</canvas>
<div class="container-fluid d-flex h-100 flex-column">
    <div class="row justify-content-center flex-fill">
        <div class="col-2 vertical-align">
            <button mat-flat-button class="full-width pixel-font" (click)="toLogin()">
                <span>l</span>
                <span>o</span>
                <span>g</span>
                <span>i</span>
                <span>n</span>
            </button>
        </div>
        <div class="col-2 vertical-align">
            <button mat-flat-button class="full-width pixel-font" (click)="toRegister()">
                <span>s</span>
                <span>i</span>
                <span>g</span>
                <span>n</span>
                <span>u</span>
                <span>p</span>
            </button>
        </div>
    </div>
</div>