<div id="container">
    <img src="../../../../assets/npc_3d_model/npcButton.png">

    <!-- 旋转的圆环 -->
    <svg viewBox="0 0 500 500">
        <path id="circle" d="
            M 100, 100
            m -75, 0
            a 75,75 0 1,0 150,0
            a 75,75 0 1,0 -150,0
        " style="fill:transparent"></path>

        <text width="500">
            <textPath alignment-baseline="top" class="text" xlink:href="#circle">
                May I Help You? Click Me ~
            </textPath>
        </text>
    </svg>
</div>